---
layout: article
title: Research
headermini: true
back: research/back.jpg
---

<link rel="stylesheet" href="./research.css">


<div class="legend-section">
                    <div class="legend-paragraph"><h1 id="research-development">Research &amp; Development</h1>
<p>The majority of my research<sup class="legend-sup">&dagger;2</sup> focuses on building next generations interfaces and tools for professional thinking. A portion of this goes to exploring the possibilities in human-computer interfaces, ranging from languages to graphical user interfaces, to voice command services, etc.</p>
</div>
                    <div class="legend-sidebar"><div class="legend-bullet" id="legend3ea3cf4d9ae25">
                    <div class="legend-bullet-number">2</div>
                    <div class="legend-bullet-content">My research is not fully academical, they are also not backed up financially</div>
                </div></div>
                </div>

<div class="legend-section">
                    <div class="legend-paragraph"><p>In parallel to my research, I have created an ecosystem of tools, languages, protocols, designs, frameworks, etc; to use for my personal and professional needs. In this page you can find these projects and hopefully use them to enhance your own projects and workflows.</p>
</div>
                    <div class="legend-sidebar"></div>
                </div>

<div class="kf-topic-page-spacer"></div>


{% for topic in site.data.researches %}
    <h2 class="research-topic-h2">{{ topic.topic }}</h2>

    {% if topic.description %}
        <div class="legend-section research-topic-description">
            <div class="legend-paragraph">
                <p>{{ topic.description }}</p>
            </div>
            <div class="legend-sidebar"></div>
        </div>
    {% endif %}

    {% for project in topic.projects %}
        <div class="research-project-box">
            <img src="{{ project.image }}">
            <div class="research-project-description-box">
                <div class="research-project-title">{{ project.name }}</div>
                <div class="research-project-description">{{ project.description }}</div>
                <a class="research-project-website" href="{{ project.website }}">Visit this project</a>
            </div>
        </div>
    {% endfor %}
{% endfor %}
