
{% if page.footermini %}
	<link rel="stylesheet" href="/styles/footer-mini.css">
{% else %}
	<link rel="stylesheet" href="/styles/footer.css">
{% endif %}

<script src="/scripts/karion.js"></script>

<div class="unselectable kf-footer" id="footer">
	<!-- Footer links -->
	<div id="kf-footer-wrap">

		{% if page.footermini != true %}
			<a class="kf-footer-col-logo" href="{{ site.baseurl }}rnd"></a>

			<!-- Research -->
			<div class="kf-footer-col-links" id="kf-footer-box-1">
				<h2 style="border-bottom-color: #5B67A5;">Research & Projects</h2>

				<div class="kf-footer-spacer">latest experiments</div>
				<a href="https://designtalk.kary.us/">DesignTalk</a>
				<a href="https://github.com/pmkary/karyscript">KaryScript</a>
				<a href="https://github.com/pmkary/Righteous">Righteous CSS</a>

				<div class="kf-footer-spacer">Popular Projects</div>
				<a href="https://github.com/pmkary/orchestra">Orchestra</a>
				<a href="https://marketplace.visualstudio.com/items?itemName=karyfoundation.theme-karyfoundation-themes">Kary Pro Colors</a>
				<a href="https://comment.kary.us">Comment IV</a>

				<div class="kf-footer-spacer">In Package Managers</div>
				<a href="https://marketplace.visualstudio.com/publishers/karyfoundation">Visual Studio Marketplace</a>
				<a href="https://www.npmjs.com/~kary">Node Package Manager</a>
			</div>


			<!-- Developer -->
			<div class="kf-footer-col-links" id="kf-footer-box-2">
				<h2 style="border-bottom-color: #745CA5;">Project Networks</h2>
				<div class="kf-footer-spacer">Social Networks</div>
				<a href="https://github.com/pmkary">GitHub</a>
				<a href="https://soundcloud.com/pouyakary">SoundCloud</a>
				<a href="https://www.youtube.com/channel/UCeMzWf8XKT8086o_RrjnEcg">YouTube</a>
				<a href="https://dribbble.com/pmkary">Dribbble</a>


				<div style="height: 20pt;"></div>

				<h2 style="border-bottom-color: #745CA5;">Documentations</h2>
				<div class="kf-footer-spacer">Specifications</div>
				<a href="/u/docs/style">Kary Coding Style</a>
				<a href="/u/docs/orchestra">Orchestra Reference</a>
				<a href="https://github.com/pmkary/Graph/wiki/API">Graph's Programming API</a>
				<a href="/u/docs/arendelle">Arendelle Book</a>
			</div>

			<!-- Foundation -->
			<div class="kf-footer-col-links" id="kf-footer-box-3">
				<h2 style="border-bottom-color: #5BA55C;">Contact & Info</h2>
				<div class="kf-footer-spacer">Direct Contact</div>
				<a href="mailto:pouya@kary.us">Email</a>

				<div class="kf-footer-spacer">Social Networks</div>
				<a href="https://www.goodreads.com/pmkary">Good Reads</a>
				<a href="https://t.me/AnytimeShow">Anytime Show</a>
				<a href="https://www.instagram.com/pmkary">Instagram</a>
				<a href="https://www.pinterest.com/TheOrderOfTheK/">Pinterest</a>

				<div class="kf-footer-spacer">Professional Info</div>
				<a href="">Résumé</a>
				<a href="https://www.linkedin.com/in/pmkary/">Linkedin</a>
			</div>
		</div>
	{% endif %}

	<!-- Footer Copyright -->
	<div id="kf-footer-copy">
		<div id="kf-footer-copy-left">
			<span id="kf-footer-copy-small">&copy</span><span id="kf-footer-copy-big">Copyright</span> 2012 &ndash; present, Pouya Kary. All rights reserved.
		</div>
		<div id="kf-footer-copy-right">
			Karion <span id="karion-time"></span>th
		</div>
	</div>
</div>