<head>
    <meta charset="UTF-8">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <!-- Title -->
    <title>
        {% if page.title == "Home" %}
            {{ site.title }}
        {% else %}
            {{ page.title }} &middot; {{ site.title }}
        {% endif %}
    </title>

    <!-- Meta -->
    <meta name    = "keywords"
          content = "Pouya Kary, Kary"
    />
    <meta name="description" content="Homepage of Pouya Kary: A database of projects, documentations, thoughts, experiments, toys, and playgrounds." />
    <meta http-equiv="content-language" content="en" />

    <!-- Icon -->
    <link rel="apple-touch-icon-precomposed" href="./media/general/apple-touch-icon-precomposed.png">

    <!-- Specific Page Sheet -->
    {% if page.css %}
        <link rel="stylesheet" href="/styles/{{ page.css }}">
    {% endif %}

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Cormorant|Montserrat:300,400|Source+Code+Pro:500,300" rel="stylesheet">

    <!-- General Sheets -->
    <link rel="stylesheet" href="/styles/base.css">
</head>