
{%- if page.headermini == true -%}
	<link rel="stylesheet" href="/styles/header-mini.css">
{%- else -%}
	<link rel="stylesheet" href="/styles/header.css">
{%- endif -%}

<div id="kary-header" class="unselectable">
	<div id="kary-nav-logo">
		<a href="/">
			<img src="/media/general/kary-horse-icon.png" id="kary-header-logo" draggable="false">
		</a>
	</div>
	<div id="kary-nav-links">
		<a href="http://writings.kary.us" id="kary-nav-link-3">Blog</a>
		&nbsp; &bullet; &nbsp;
		<a href="/projects/" id="kary-nav-link-2">Research & Projects</a>
		&nbsp; &bullet; &nbsp;
		<a href="/story/" id="kary-nav-link-1">Who's Pouya?</a>
	</div>
</div>

{%- if page.hidemargin != false -%}
	<div id="kary-header-margin"></div>
{%- endif -%}