
main {
    font-weight: 700;
    font-size: 3.8rem;
    padding: 7rem 0 3rem 0;
}

.homepage {
    padding: 3rem 5rem 5rem 5rem;
    max-width: 820pt;
    margin: auto;
}


.noboxing {
    padding: 0;
    margin: 0;
}

p {
    font-size: 1rem;
    margin: 0.5em 0 0 0;
    line-height: 1.5;
}


p {
    font-weight: 400;
}

.boxing {
    margin: 2rem 0 1rem 0;
}

.proj-box {
    height: calc( ( 1000px / 30vw ) * 23vw );
    max-height: 28rem;;
    overflow: hidden;
}

.pic {
    width: 100%;
    height: 33vw;
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
}

.orchestra-back {
    background-color: #4B4B4B;
    color: #eee;
    margin: 0;
    padding: 0;
}


desk {
    display: flex;
    margin: 0 2rem 0 2rem;
    padding-top: 2rem;
}

desktitle {
    flex: auto;
    font-size: 1.5rem;
    font-weight: 400;
    max-width: min-content;
    align-self: stretch;
    vertical-align: middle;
    color: white;
}

deskdesk {
    font-size: 1rem;
    flex: auto;
    border-left: #348ACB 2pt solid;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    line-height: 1.5;
    align-self: flex-start;
    color: white;
}

@media ( max-width: 800pt ) {
    desk {
        display: block;
    }
    deskdesk {
        flex: unset;
        display: block;
        border: none;
        margin: 0.5em 0 0 0;
        padding: 0.5em 0 0 0;
        border-top: white 2pt solid;
    }
}

deskdesk:after {
    clear: both;
}

.proj-orchestra {
    background-color: #4B4B4B;
    color: #eee;
}

.proj-orchestra > desk > deskdesk {
    border-color: #7DA76F;
}

.proj-graph {
    background-color: #8C0000;
}

.proj-graph > desk > deskdesk {
    border-color: #C18000;
}

.proj-framework {
     background-color: black;
}

.proj-heatstudio {
    background-color: #73C7F9;
}

.proj-heatstudio > desk > deskdesk {
    border-color: #A9DDFD;
}

.proj-comment {
    background-color: #5A5B5B;
}

.proj-comment > desk > deskdesk {
    border-color: #5EAA44;
}

