<html>
    <head>
        <title>{{ page.title }} &middot; Kary Foundation</title>
        <link rel="stylesheet" href="/styles/errorinfo.css">
        <link rel="stylesheet" href="/styles/myriad-pro.css">
    </head>
    <body>
        <div class="kf-error-logo"></div>
        <div class="kf-error-box">
            <div class="kf-error-back"></div>
            <div class="kf-error-content">
                {{ content }}
            </div>
        </div>
        <div class="kf-error-footer">
            <a href="/">
                <div class="kf-erro-footer-logo"></div>
            </a>
        </div>
    </body>
</html>