---
layout: page
---

<style>
	#kary-iframe-frame {
		width: 100vw;
		border: none;
	}
	#kary-archive-notice {

	}
</style>


<iframe src="{{ page.src }}" id="kary-iframe-frame"> </iframe>

<script type="text/javascript">
  function iframeLoaded() {
      var iFrameID = document.getElementById('kary-iframe-frame');
      if ( iFrameID ) {
            iFrameID.height = ( 100 + iFrameID.contentWindow.document.body.scrollHeight ).toString( ) + "px";
      }
  }
  window.onload = iframeLoaded;
</script>