---
layout: page
headermini: true
hidemargin: false
---

<link rel="stylesheet" href="/styles/topicpage.css">


<div class="kary-topic-page-header"
	 style="background-image: url('{{ page.back }}');">
</div>

<div onclick="topicPageScrollToTop( )"
  	      id="kary-topic-page-header-title"
	   class="kary-topic-page-header-title-hidden">
	   <div id="kary-topic-page-header-title-link">{{ page.title }}</div>
</div>

<div class="kary-topic-page-main-container">
	<div class="kary-topic-page-main">
		<div class="kary-topic-page-tabs">
			<div class="kary-topic-tab-side left"></div>
			<div class="kary-topic-tab-middle">{{ page.title }}</div>
			<div class="kary-topic-tab-side right"></div>
		</div>

		<div id="kary-topic-page-sidebar" class="toc-on-top">
			<div id="kary-topic-toc-upper-shadow" class="kary-topic-shadow-base"></div>
			<div class="kary-topic-page-sidebar-box">
				<div id="kary-sidebar-title">Contents</div>
				<div id="kary-topic-toc"></div>
			</div>
			<div id="kary-topic-toc-bottom-shadow" class="kary-topic-shadow-base"></div>
		</div>

		<div class="kary-topic-page-content" id="kary-topic-article-container">
			{{ content }}
		</div>
	</div>
</div>

<script src="/scripts/topic-toc.js"></script>