
.kf-error-logo {
    background-image:       url('/media/general/apple-touch-icon-precomposed.png');
    background-position:    right;
    background-repeat:      no-repeat;
    background-size:        contain;
    height:                 50px;
    position:               fixed;
    right:                  20px;
    top:                    20px;
    width:                  50px;
}

.kf-error-back {
    background-image:           url('/media/developer/error-back-40.png');
    background-position:        center;
    background-repeat:          repeat-x;
    background-size:            contain;
    border-top-left-radius:     15px;
    border-top-right-radius:    15px;
    height:                     40px;
}

.kf-error-box {
    background-color:       #C10012;
    border-radius:          15px;
    color:                  white;
    margin-bottom:          150px;
    margin-left:            auto;
    margin-right:           auto;
    margin-top:             70px;
    max-width:              400px;
}

.kf-error-content {
    margin-left:        auto;
    margin-right:       auto;
    max-width:          22rem;
    padding:            30px;
    padding-bottom:     30px;
    padding-top:        1px;
}

.kf-error-footer {
    background-color:       #1a1a1a;
    color:                  #ccc;
    font-size:              1.1rem;
    padding:                40px;
    text-align:             center;
}

.kf-erro-footer-logo {
    background-image:       url('/media/general/kary-horse-icon.png');
    background-position:    center;
    background-repeat:      no-repeat;
    background-size:        contain;
    height:                 25px;
    width:                  100%;
}

@media ( max-width: 600px ) {
    html {
        font-size:      13px;
    }

    .kf-error-box, .kf-error-logo {
        border-radius:      0;
    }

    .kf-error-logo {
        display:    none;
    }

    .kf-error-box {
        margin:         0;
        max-width:      unset;
        min-height:     100vh;
    }

    .kf-error-content {
        margin-top:     40px;
    }

    .kf-error-footer {
        background-color:       #C10012;
    }
}

body, html {
    margin:     0;
    padding:    0;
}

body {
    background-color:       #eee;
    font-family:            "Montserrat";
}

h1 {
    margin-bottom:      0;
    padding-bottom:     0;
}

p {
    font-size:      1.2rem;
}
