
/*
 *  Copyright 2013-present by Pouya Kary <pouya@kary.us>
 */

/*
 * ─── FOOTER BOX ─────────────────────────────────────────────────────────────────
 */

    .kary-footer {
        box-shadow:             0 0 80px rgba( 0, 0, 0, 0.6);
        background-color:       #141414;
    }

    #kary-footer-wrap {
        display:            flex;
        display:            -webkit-flex;
        display:            -moz-flex;
        max-width:          900px;
        height:             100%;
        margin-left:        auto;
        margin-right:       auto;
        margin-top:         3rem;
        margin-bottom:      3rem;
    }

    @media ( max-width: 720px ) {
            #kary-footer-wrap {
                display:    none;
            }
    }

/*
 * ─── LOGO ───────────────────────────────────────────────────────────────────────
 */

    .kary-footer-col-logo {
        display:    none;
    }

/*
 * ─── LINKS ──────────────────────────────────────────────────────────────────────
 */

    .kary-footer-col-links {
        padding-right:      3rem;
        flex:               3;
    }

    .kary-footer-col-links h2 {
        font-size:          1.1rem;
        padding-bottom:     0.2em;
        border-bottom:      2px solid cornflowerblue;
        margin-bottom:      0.5em;
    }

    .kary-footer-col-links a {
        display:            block;
        color:              #A0A0A0;
        padding-bottom:     0.5em;
        font-size:          0.9rem;
    }

    .kary-footer-col-links a:hover {
        color:      white;
    }

/*
 * ─── SPACER ─────────────────────────────────────────────────────────────────────
 */

    .kary-footer-spacer {
        padding-top:        0.7rem;
        font-size:          0.6rem;
        text-transform:     uppercase;
        letter-spacing:     3px;
        padding-bottom:     0.5rem;
        color:              white;
    }

/*
 * ─── COPYRIGHT ──────────────────────────────────────────────────────────────────
 */

    #kary-footer-copy {
        background-color:       #1A1A1A;
        color:                  #9A9A9A;
        padding:                2.5rem;
    }

    #kary-footer-copy a {
        color:      #9A9A9A;
    }

    #kary-footer-copy a:hover {
        color:      white;
    }

    #kary-footer-copy-left {
        float:      left;
    }

    #kary-footer-copy-right {
        float:      right;
    }

    #kary-footer-copy-small {
        display:    none;
    }

    @media ( max-width: 550px ) {
            #kary-footer-copy-left, #kary-footer-copy-right {
                clear:      both;
                float:      none;
            }

            #kary-footer-copy-right {
                margin-top:     0.5rem;
            }

            #kary-footer-copy-small {
                display:    inline;
            }

            #kary-footer-copy-big {
                display:    none;
            }
    }

/* ──────────────────────────────────────────────────────────────────────────────── */
