
/*
 *  Copyright 2013-present by Pouya Kary <pouya@kary.us>
 */

/*
 * ─── FOOTER BOX ─────────────────────────────────────────────────────────────────
 */

    .kary-footer {
        background-color:       #1a1a1a;
    }

    #kary-footer-wrap {
        display:            -moz-flex;
        display:            -webkit-flex;
        display:            flex;
        height:             100%;
        margin-bottom:      3rem;
        margin-left:        3rem;
        margin-right:       1rem;
        padding-top:        3rem;
        width:              calc( 100vw - 4rem);
    }

    @media ( max-width: 720px ) {
            #kary-footer-wrap {
                display:    none;
            }
    }

/*
 * ─── LOGO ───────────────────────────────────────────────────────────────────────
 */

    .kary-footer-col-logo {
        background-image:       url('/media/general/kary-horse-footer.png');
        background-position:    top left;
        background-repeat:      no-repeat;
        background-size:        contain;
        flex:                   1;
        height:                 12rem;
        margin-right:           3rem;
        margin-top:             0.2rem;
        opacity:                0.6;
    }

    @media ( max-width: 900px ) {
            .kary-footer-col-logo {
                display:    none;
            }
    }

/*
 * ─── LINKS ──────────────────────────────────────────────────────────────────────
 */

    .kary-footer-col-links {
        flex:               3;
        padding-right:      3rem;
    }

    .kary-footer-col-links h2 {
        border-bottom:      2px solid rgba(255, 255, 255, 0.2) !important;
        color:              rgba(255, 255, 255, 0.85);
        margin-bottom:      0.5em;
        padding-bottom:     0.2em;
    }

    .kary-footer-col-links a {
        color:              rgba(255, 255, 255, 0.75);
        display:            block;
        font-size:          1.1rem;
        padding-bottom:     0.5em;
    }

    .kary-footer-col-links a:hover {
        color:      white;
    }

/*
 * ─── SPACER ─────────────────────────────────────────────────────────────────────
 */

    .kary-footer-spacer {
        color:              rgba(255, 255, 255, 0.7);
        font-family:        "Source Code Pro";
        font-size:          0.7rem;
        font-weight:        300;
        letter-spacing:     3px;
        padding-bottom:     0.5rem;
        padding-top:        0.7rem;
        text-transform:     uppercase;
    }

/*
 * ─── COPYRIGHTS ─────────────────────────────────────────────────────────────────
 */

    #kary-footer-copy {
        background-color:       #1F1F1F;
        color:                  rgba(255, 255, 255, 0.75);
        padding:                2.5rem;
        display:                flex;
        width:                  calc( 100vw - 5rem );
        justify-content:        space-between;
    }

    #kary-footer-copy a {
        color:                  rgba(255, 255, 255, 0.75);
        padding:                4pt 6pt 3pt 6pt;
        transition-duration:    0.3s;
    }

    #kary-footer-copy a:hover {
        background-color:       #323232;
        border-radius:          3pt;
        color:                  #eee;
    }

    #kary-footer-copy-left {
        flex:           auto;
        max-width:      fit-content;
        align-self:     flex-start;
    }

    #kary-footer-copy-right {
        flex:               auto;
        margin-left:        auto;
        align-self:         flex-end;
        text-align:         right;
        text-transform:     uppercase;
        letter-spacing:     0.2rem;
        font-size:          0.8rem;
        padding-bottom:     0.15rem;
    }

    #kary-footer-copy-small {
        display:    none;
    }

    @media ( max-width: 500pt ) {
            #kary-footer-copy-small {
                display:            inline;
                flex-direction:     column;
            }

            #kary-footer-copy-left {
                flex:           1;
                display:        block;
                text-align:     left;
            }

            #kary-footer-copy-right {
                display:    none;
            }

            #kary-footer-copy-big {
                display:    none;
            }
    }

/* ──────────────────────────────────────────────────────────────────────────────── */
