@font-face {
    font-family: 'hasklig';
    src: url('hasklig-regular-webfont.woff2') format('woff2'),
         url('hasklig-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}