
#kf-header {
    background-color:       black;
    box-shadow:             0 0 0.7rem rgba( 0, 0, 0, 0.4);
    padding-bottom:         0.5rem;
    position:               fixed;
    width:                  100%;
    z-index:                1;
}

@media ( max-width: 550px ) {
    #kf-header {
        position:       relative;
    }
}

#kf-nav-logo {
    float:          left;
    padding-top:    0.9rem;
}

#kf-nav-links {
    color:              #eee;
    float:              right;
    font-size:          1.1rem;
    margin-left:        1.4rem;
    margin-right:       2.8vw;
    margin-top:         0.9rem;
}

#kf-nav-links a {
    background-color:       transparent;
    border-radius:          20px;
    color:                  #eee;
    padding:                0.2rem 0.8rem 0.2rem 0.8rem;
    text-decoration:        none;
    transition-duration:    0.5s;
}

#kf-nav-links a {
    transition-duration:    0.5s;
}

#kf-nav-link-1:hover {
    background-color:       #5B67A5;
}

#kf-nav-link-2:hover {
    background-color:       #745CA5;
}

#kf-nav-link-3:hover {
    background-color:       #5BA55C;
}

@media ( max-width: 550px ) {
    #kf-nav-links, #kf-nav-logo {
        clear:      both;
        float:      none;
    }

    #kf-nav-links {
        padding-top:    0.7rem;
    }
}

#kf-header-margin {
    clear:      both;
    height:     40px;
}

@media ( max-width: 550px ) {
    #kf-header-margin {
        display:    none;
    }
}

#kf-header-logo {
    height:             1.4rem;
    padding-left:       1.4rem;
}

@media ( max-width: 550px ) {
    #kf-header-logo {
        height:     1.8rem;
    }
}
