
/*
 *  Copyright 2013-present by Pouya Kary <pouya@kary.us>
 */

/*
 * ─── HEADER ─────────────────────────────────────────────────────────────────────
 */

    #kary-header {
        background-color:       black;
        box-shadow:             0 0 0.7rem rgba( 0, 0, 0, 0.4);
        padding-bottom:         0.5rem;
        position:               fixed;
        width:                  100%;
        z-index:                1;
    }

    @media ( max-width: 550px ) {
            #kary-header {
                position:       relative;
            }
    }

/*
 * ─── LOGO ───────────────────────────────────────────────────────────────────────
 */

    #kary-nav-logo {
        float:              left;
        padding-bottom:     0.1rem;
        padding-top:        0.8rem;
    }

    @media ( max-width: 550px ) {
            #kary-nav-logo {
                padding-top:        1.2rem;
                padding-bottom:     0;
            }
    }

/*
 * ─── LINKS ──────────────────────────────────────────────────────────────────────
 */

    #kary-nav-links {
        color:              #eee;
        float:              right;
        font-size:          1.1rem;
        margin-left:        1.4rem;
        margin-right:       2.8vw;
        margin-top:         0.9rem;
    }

    #kary-nav-links a {
        background-color:       transparent;
        border-bottom:          2pt transparent dashed;
        color:                  #eee;
        font-weight:            300;
        padding-bottom:         0.2rem;
        text-decoration:        none;
        transition-duration:    0.3s;
    }

    #kary-nav-links a:hover {
        color:                  white;
        transition-duration:    0.2s;
    }

    #kary-nav-link-1:hover {
        border-color:       #5B67A5;
    }

    #kary-nav-link-2:hover {
        border-color:       #745CA5;
    }

    #kary-nav-link-3:hover {
        border-color:       #5BA55C;
    }

    @media ( max-width: 550px ) {
            #kary-nav-links, #kary-nav-logo {
                clear:      both;
                float:      none;
            }

            #kary-nav-links {
                padding-top:        0;
                padding-bottom:     0.4rem;
            }
    }

    #kary-header-margin {
        clear:      both;
        height:     40px;
    }

    @media ( max-width: 550px ) {
            #kary-header-margin {
                display:    none;
            }
    }

    #kary-header-logo {
        height:             1.4rem;
        padding-left:       1.4rem;
    }

    @media ( max-width: 550px ) {
            #kary-header-logo {
                height:     1.8rem;
            }
    }

/* ──────────────────────────────────────────────────────────────────────────────── */
