
/*
 *  Copyright 2013-present by Pouya Kary <pouya@kary.us>
 */

/*
 * ─── LOGO ───────────────────────────────────────────────────────────────────────
 */

    #kary-nav-logo {
        float:          left;
        padding-top:    1.2rem;
    }

/*
 * ─── LINKS ──────────────────────────────────────────────────────────────────────
 */

    #kary-nav-links {
        color:              #eee;
        float:              right;
        font-size:          1.1rem;
        padding-left:       1.4rem;
        padding-right:      2.8vw;
        padding-top:        1.4rem;
    }

    @media ( max-width: 550px ) {
            #kary-nav-links, #kary-nav-logo {
                clear:      both;
                float:      none;
            }

            #kary-nav-links {
                padding-top:    0.9rem;
            }
    }

    #kary-nav-links a {
        border-bottom:          0.2rem solid transparent;
        color:                  #eee;
        padding-bottom:         2.4rem;
        text-decoration:        none;
        transition-duration:    0.5s;
    }

    #kary-nav-links a:hover {
        padding-bottom:         0.4rem;
        transition-duration:    0.5s;
    }

    #kary-nav-link-1:hover {
        border-bottom-color:    #5B67A5;
    }

    #kary-nav-link-2:hover {
        border-bottom-color:    #745CA5;
    }

    #kary-nav-link-3:hover {
        border-bottom-color:    #5BA55C;
    }

/*
 * ─── HEADER ─────────────────────────────────────────────────────────────────────
 */

    #kary-header {
        background-color:       rgba( 0, 0, 0, 0.9);
        box-shadow:             0 0 1.8rem rgba( 0, 0, 0, 0.9);
        overflow:               hidden;
        padding-bottom:         1.1rem;
        position:               fixed;
        width:                  100%;
        z-index:                1;
    }

    @media ( max-width: 550px ) {
            #kary-header {
                position:       relative;
            }
    }

    #kary-header-margin {
        clear:      both;
        height:     40px;
    }

    @media ( max-width: 550px ) {
            #kary-header-margin {
                display:    none;
            }
    }

    #kary-header-logo {
        height:             1.5rem;
        padding-left:       1.4rem;
        padding-top:        0;
    }

    @media ( max-width: 550px ) {
            #kary-header-logo {
                height:     1.8rem;
            }
    }

/* ──────────────────────────────────────────────────────────────────────────────── */
