
/*
 *  Copyright 2013-present by Pouya Kary <pouya@kary.us>
 */

/*
 * ─── TOPIC PAGE ─────────────────────────────────────────────────────────────────
 */

    .topic-page-background {
        background-position:    center bottom;
        background-repeat:      no-repeat;
        background-size:        cover;
        height:                 25rem;
        width:                  100vw;
    }

    .topic-page-content {
        height:     100pt;
    }

/*
 * ─── TITLE ──────────────────────────────────────────────────────────────────────
 */

    .main-title {
        background-color:       black;
        font-size:              3.8rem;
        font-weight:            500;
        padding:                5rem 6rem 4.5rem 6rem;
        box-sizing:             border-box;
        width:                  100vw;
        user-select:            none;
    }

    .homepage {
        margin:         auto;
        max-width:      820pt;
        padding:        2rem 4rem 5rem 4rem !important;
    }

    @media only screen and (max-width: 375px) and (-webkit-min-device-pixel-ratio: 2) {
            .main-title {
                font-size:      3rem;
                padding:        2rem;
            }

            .homepage {
                padding:        1.5rem !important;
                max-width:      none;
                margin:         0;
            }
    }

/*
 * ─── TABS ───────────────────────────────────────────────────────────────────────
 */

    .projects-file-tab-title {
        background-image:       url("/homepage/tab-project.png");
        background-position:    bottom center;
        background-repeat:      no-repeat;
        background-size:        contain;
        height:                 3rem;
        margin-left:            1rem;
        width:                  11.58rem;
    }

    .projects-file-tab {
        background-color:       #f4f4f4;
        padding:                2rem;
        padding-top:            0;
    }

/*
 * ─── ROW ────────────────────────────────────────────────────────────────────────
 */

    row > * {
        float:          left;
        max-width:      fit-content;
    }

    #kf-header {
        background:     black !important;
    }

    row:after {
        clear:      both;
    }

    flex {
        align-content:      flex-start;
        display:            flex;
    }

    flex > * {
        flex:       auto;
    }

    .noboxing {
        margin:     0;
        padding:    0;
    }

/*
 * ─── BASE ───────────────────────────────────────────────────────────────────────
 */

    p {
        font-size:      1rem;
        line-height:    1.5;
        margin:         0.5em 0 0 0;
    }

    p {
        font-weight:    400;
    }

    .boxing {
        margin:     2rem 0 1rem 0;
    }

    .proj-box {
        border-radius:      5pt !important;
        height:             calc( ( 1000px / 30vw ) * 23vw );
        max-height:         28rem;
        overflow:           hidden;
    }

    .pic {
        background-position:    top left;
        background-repeat:      no-repeat;
        background-size:        cover;
        height:                 33vw;
        width:                  100%;
    }

/*
 * ─── BOXES ──────────────────────────────────────────────────────────────────────
 */

    desk {
        display:        flex;
        margin:         0 2rem 0 2rem;
        padding-top:    2rem;
        user-select:    none;
    }

    .desktitle {
        align-self:         stretch;
        color:              white;
        flex:               auto;
        font-size:          1.5rem;
        font-weight:        400;
        max-width:          min-content;
        vertical-align:     middle;
        user-select:        none;
        border-bottom:      1pt solid transparent;
        padding-bottom:     0.2rem;
    }

    a.desktitle:hover {
        text-decoration:    underline;
    }

    deskdesk {
        align-self:         flex-start;
        border-left:        #348ACB 2pt solid;
        color:              white;
        flex:               auto;
        font-size:          1rem;
        line-height:        1.6;
        margin-left:        0.8rem;
        padding-left:       0.8rem;
        user-select:        none;
    }

    @media ( max-width: 800pt ) {
            desk {
                display:    block;
            }

            deskdesk {
                border:         none;
                border-top:     white 2pt solid;
                display:        block;
                flex:           unset;
                margin:         0.5rem 0 0 0;
                padding:        0.5rem 0 0 0;
                max-width:      30rem;
            }
    }

    @media only screen and (max-width: 375px) and (-webkit-min-device-pixel-ratio: 2) {
            deskdesk {
                font-size:      1.2rem;
            }
    }

/*
 * ─── PROJECTS ───────────────────────────────────────────────────────────────────
 */

    .proj-orchestra {
        background-color:       #4B4B4B;
        color:                  #eee;
    }

    .proj-orchestra deskdesk {
        border-color:       #7DA76F;
    }

    .proj-graph {
        background-color:       #8C0000;
    }

    .proj-graph deskdesk {
        border-color:       #C18000;
    }

    .proj-framework {
        background-color:       black;
    }

    .proj-heatstudio {
        background-color:       #73C7F9;
    }

    .proj-heatstudio deskdesk {
        border-color:       #A9DDFD;
    }

    .proj-shader {
        background-color:       black;
    }

    .proj-shader .desktitle, .proj-shader deskdesk {
        color:      #eee;
    }

    .proj-shader deskdesk {
        border-color:       #5EAA44;
    }

    .proj-shader .pic {
        background-position:    top center;
    }

    .proj-kfcs {
        background-color:       #62058C;
    }

    .proj-kfcs deskdesk {
        border-color:       rgba(255, 255, 0, 0.9);
    }

    .proj-kfcs .pic {
        background-position:    top center;
    }

    .proj-procolors {
        background-color:       #E4E4E4;
    }

    .proj-procolors deskdesk {
        border-color:       #C09353;
    }

    .proj-procolors .desktitle, .proj-procolors deskdesk {
        color:          #4B4B4B !important;
        font-weight:    bold;
    }

/*
 * ─── WANT MORE BUTTON ───────────────────────────────────────────────────────────
 */

    a.want-more {
        display:                        block;
        background-image:               url("/homepage/a-want-more-back.png");
        background-position:            left center;
        background-size:                contain;
        background-repeat:              no-repeat;
        padding:                        1rem 1.5rem 1rem 3.5rem;
        text-align:                     center;
        margin:                         auto;
        margin-top:                     3rem;
        margin-bottom:                  0.5rem;
        max-width:                      12rem;
        transition-duration:            1s;
        border-radius:                  100px;
        background-color:               black;
        color:                          #eee;
        animation:                      rainbow 2s infinite;
        animation-timing-function:      linear;
        user-select:                    none;
    }

    a.want-more:hover {
        color:                  rgba(255, 255, 255, 0.9);
        background-color:       mediumblue;
        transition-duration:    0.1s;
    }

    @keyframes rainbow {
        0% {
            filter:     hue-rotate(0deg);
        }
        100% {
            filter:     hue-rotate(360deg);
        }
    }

/* ──────────────────────────────────────────────────────────────────────────────── */
