
/*
 *  Copyright 2013-present by Pouya Kary <pouya@kary.us>
 */

/*
 * ─── TITLE ──────────────────────────────────────────────────────────────────────
 */

    .projects-topic-h2 {
        margin-bottom:      2rem !important;
    }

    .projects-project-description-box h3 {

    }

    @media ( min-width: 320px ) and ( max-width: 500px ) {
            .projects-project-description-box h3 {
                font-size:      1.4rem;
            }
    }

/*
 * ─── YEAR ───────────────────────────────────────────────────────────────────────
 */

    .projects-project-year {
        background-color:       rgba(226, 238, 250, 0.7);
        color:                  #3778B7;
        padding:                0 0.4rem 0 0.4rem;
        border-radius:          4pt;
        margin-left:            0.6rem;
        font-size:              1rem;
    }

/*
 * ─── DESCRIPTION ────────────────────────────────────────────────────────────────
 */

    .projects-topic-description {
        font-size:          1.2rem;
        margin-bottom:      2rem;
    }

/*
 * ─── CONTAINER ──────────────────────────────────────────────────────────────────
 */

    .projects-project-box {
        display:            flex;
        margin-bottom:      3rem;
    }

    @media screen and ( max-width: 500px ) {
            .projects-project-box {
                flex-direction:     column-reverse;
            }
    }

    .projects-project-box + h2 {
        margin-top:     5rem;
    }

/*
 * ─── ARTICLE ────────────────────────────────────────────────────────────────────
 */

    .kary-topic-page-article img {
        flex:           auto;
        height:         100%;
        margin:         0 2rem 0 0;
        max-height:     fit-content !important;
        max-width:      220pt !important;
        object-fit:     contain;
        width:          100%;
    }

    @media screen and ( max-width: 700px ) {
            .kary-topic-page-article img {
                max-width:      150pt !important;
            }
    }

    @media screen and ( max-width: 500px ) {
            .kary-topic-page-article img {
                margin-top:     1rem;
                max-width:      100% !important;
            }
    }

    .projects-project-description-box {
        flex:       1;
    }

    .projects-project-description {
        font-family:    "Cormorant";
        font-size:      1.2rem;
    }

    @media screen and (max-width: 10cm) {
            .projects-project-description {
                font-size:      1.4rem;
                line-height:    1.4;
            }
    }

/*
 * ─── WEBSITE ────────────────────────────────────────────────────────────────────
 */

    .projects-project-website-container {
        width:          fit-content;
        height:         3rem;
        max-height:     3rem;
        overflow:       hidden;
    }

    .projects-project-website {
        background-image:       none !important;
        color:                  #AA630C !important;
        display:                block;
        font-family:            "Montserrat";
        font-size:              0.9rem;
        font-weight:            500;
        margin-top:             1em !important;
        text-decoration:        none !important;
        border-bottom:          2px solid #AA630C;
        transition-duration:    0.3s !important;
        padding-bottom:         1rem;
    }

    .projects-project-website:focus, .projects-project-website:hover {
        transition-duration:    0.3s !important;
        padding-bottom:         0rem;
    }

    @media (min-width: 320px) and (max-width: 480px) {
            .projects-project-website-container {
                height:             fit-content;
                max-height:         fit-content;
                overflow:           unset;
                margin-bottom:      1rem;
            }

            .projects-project-website {
                font-size:      1.1rem !important;
                border:         1px solid #AA630C;
                padding:        3pt 7pt 5pt 7pt;
                height:         fit-content;
            }

            .projects-project-website:active, .projects-project-website:focus, .projects-project-website:hover {
                background:     #AA630C;
                color:          white;
                padding:        3pt 7pt 5pt 7pt;
            }
    }

/* ──────────────────────────────────────────────────────────────────────────────── */
