
html {
    color:      #141414;
}

ul {
    margin:     0;
}

p {
    font-family:        "Cormorant";
    font-size:          1.2rem;
    padding-bottom:     0.5rem;
}

code {
    background-color:           #FFFDF7;
    border-radius:              2pt;
    color:                      #BC670E;
    font-family:                "Source Code Pro";
    font-size:                  0.85em;
    font-variant-ligatures:     contextual !important;
    font-weight:                400;
    padding:                    0.5pt 3pt 0.5pt 3pt;
    vertical-align:             center;
}

section {
    margin-bottom:      2rem;
}

h1 {
    color:          black;
    font-size:      1.4em;
    margin:         0.2em 0 0.7em 0;
    padding:        0;
}

.kf-topic-page-article, p {
    line-height:    1.6rem !important;
}

@media ( max-width: 640pt ) {
    p {
        font-size:      1.4rem !important;
    }

    .kf-topic-page-article {
        font-size:      1.4rem !important;
    }
}

.kf-topic-page-spacer {
    height:     40px;
}

.kf-topic-page-article h2 {
    border-top:         1px solid black;
    font-size:          0.8em;
    letter-spacing:     10px;
    margin-bottom:      14px;
    padding-bottom:     1px;
    padding-top:        4px;
    text-align:         right;
    text-transform:     uppercase;
}

.kf-topic-page-article img {
    border-radius:      3pt;
    margin-top:         10pt;
    width:              100%;
}

.kf-topic-page-article li {
    font-family:        'Cormorant';
    font-size:          1em;
    margin-bottom:      0.7rem;
}

.kf-topic-page-article b, .kf-topic-page-article strong {
    font-family:        "Montserrat";
    font-size:          0.8em;
    font-weight:        bold;
    text-transform:     capitalize;
}

@media ( max-width: 26cm ) {
    .kf-topic-page-article {
        padding-right:      0, 4rem, 0, 4rem;
    }
}

@media ( max-width: 7cm ) {
    .kf-topic-page-article {
        margin:     0, 1rem, 0, 1rem;
    }
}

.kf-topic-page-header {
    background-color:       #141414;
    background-position:    center;
    background-repeat:      no-repeat;
    background-size:        cover;
    font-size:              2.6rem;
    padding-top:            15rem;
}

@media ( max-width: 550px ) {
    .kf-topic-page-header {
        background-position:    left;
    }
}

.kf-topic-page-tabs {
    display:        flex;
    height:         2.2rem;
    position:       relative;
    top:            -2.2rem;
    width:          fit-content;
}

.kf-topic-tab-middle {
    -moz-user-select:       none;
    -webkit-user-select:    none;
    background-color:       white;
    font-size:              1.2rem;
    font-weight:            700;
    min-height:             2.2rem;
    padding:                0.5em 0.1em 0 0.1em;
    user-select:            none;
}

.kf-topic-tab-side {
    background-position:    center;
    background-repeat:      no-repeat;
    background-size:        cover;
    height:                 2.2rem;
    width:                  2.2rem;
}

.kf-topic-tab-side.left {
    background-image:       url('/media/topicpage/tab-left.svg');
}

.kf-topic-tab-side.right {
    background-image:       url('/media/topicpage/tab-right.svg');
}

.kf-topic-page-main-container {
    background-color:       white;
}

.kf-topic-page-section-back {
    background-image:       url('/media/topicpage/section-back.png');
    background-repeat:      repeat-x;
    background-size:        contain;
    margin-bottom:          1rem;
    margin-top:             2rem;
    width:                  100%;
}

.kf-topic-page-section-text {
    background-color:       black;
    font-size:              1.3rem;
    margin-left:            3rem;
    padding-left:           0.5rem;
    padding-right:          0.5rem;
    width:                  max-content;
}

.kf-topic-page-main {
    color:              black;
    font-size:          1.1rem;
    line-height:        1.3;
    margin-left:        auto;
    margin-right:       auto;
    max-width:          60vw;
    padding-bottom:     1.6rem;
    padding-right:      6rem;
}

@media ( max-width: 1000px ) {
    .kf-topic-page-main {
        margin-left:        3rem;
        max-width:          100vw;
        padding-right:      15rem;
    }
}

@media ( max-width: 26cm ) {
    .kf-topic-page-main {
        margin-left:        2rem;
        margin-right:       2rem;
        padding-right:      0;
    }
}

#kf-topic-page-sidebar {
    right:      9vw;
    width:      9rem;
}

@media ( max-width: 1000px ) {
    #kf-topic-page-sidebar {
        right:      7vw;
    }
}

@media ( max-width: 26cm ) {
    #kf-topic-page-sidebar {
        display:    none;
    }
}

#kf-topic-toc {
    max-height:             calc( 100vh - 150pt );
    overflow-x:             hidden;
    overflow-y:             scroll;
    transition-duration:    0.5s;
}

.toc-on-top #kf-topic-toc {
    max-height:             calc( 100vh - 240pt );
    transition-duration:    0.2s;
}

.kf-topic-page-sidebar-box {
    background-color:       white;
    border:                 1pt solid #f1f1f1;
    border-radius:          5pt;
    box-shadow:             0 0 6pt rgba( 0, 0, 0, 0.1 );
    padding:                15pt;
    padding-top:            14px;
    transition-duration:    0.5s;
    width:                  100%;
}

.kf-topic-page-sidebar-title {
    font-size:      2rem;
}

.kf-topic-page-sidebar-box {
    color:          #555555;
    font-size:      0.7rem;
}

#kf-sidebar-title {
    background-image:       url('/media/topicpage/worldwide.svg');
    background-position:    left;
    background-repeat:      no-repeat;
    background-size:        contain;
    border-bottom:          1px #aaa solid;
    font-size:              1.2rem;
    margin-bottom:          10px;
    margin-top:             0.3rem;
    padding-bottom:         1px;
    padding-left:           2rem;
}

.kf-topic-page-sidebar-box h2 {
    color:          #009BFF;
    font-size:      1rem;
    padding-top:    0.5rem;
}

.legend-section {
    align-items:        flex-start;
    display:            flex;
    flex-direction:     row;
    justify-content:    flex-start;
}

.legend-paragraph {
    flex:       3;
}

@media ( max-width: 800 ) {
    .legend-paragraph {
        flex:       2;
    }
}

.legend-sidebar {
    flex-basis:     auto;
    flex-grow:      1;
    font-size:      0.8em;
    font-weight:    400;
    max-width:      200px;
    min-width:      160px;
}

.legend-sidebar ul {
    margin-top:     0;
    padding-top:    0;
}

.legend-bullet {
    color:              #848484;
    display:            flex;
    font-family:        'Source Code Pro';
    font-size:          0.8em;
    font-weight:        500;
    line-height:        1.5;
    margin-bottom:      10pt;
}

.legend-bullet-number {
    flex:           auto;
    max-width:      fit-content;
    padding-top:    0.5pt;
}

.legend-bullet-content {
    border-left:    1.5pt #eee solid;
    flex:           auto;
    margin-left:    4pt;
    padding:        0.5pt 0 1.5pt 4pt;
}

.legend-bullet-content code {
    font-size:      0.6rem;
}

.legend-sup a, .legend-sup a:visited {
    background:     none;
    color:          black;
}

.legend-sup a:focus, .legend-sup a:hover {
    background:         none;
    text-decoration:    underline;
}

@media ( max-width: 20cm ) {
    .legend-sidebar {
        display:    none;
        flex:       0;
    }

    .legend-sup {
        display:    none;
    }
}

.kf-sidebar-H1 {
    color:          #2D84DB;
    font-size:      1rem;
    padding:        0.6em 0 0em 0;
}

.kf-sidebar-H1 + .kf-sidebar-H1 {
    padding-bottom:     0.7em !important;
}

.kf-sidebar-H1 a, .kf-sidebar-H1 a:visited {
    color:      inherit;
}

.kf-sidebar-H2 {
    border-left:            1.5px #47AC19 solid;
    clear:                  left;
    color:                  #424242;
    display:                block;
    font-size:              0.7rem;
    letter-spacing:         2px;
    margin-left:            1px;
    padding:                3px 0 10px 10px;
    transition-duration:    0.4s;
}

.kf-sidebar-H2 a, .kf-sidebar-H2 a:visited {
    color:      inherit;
}

.kf-sidebar-H1:hover, .kf-sidebar-H2:hover {
    color:      #9F0D97;
    cursor:     default;
}

.kf-sidebar-H2:hover {
    padding-left:           15px;
    transition-duration:    0.4s;
}

.toc-on-top {
    position:       absolute;
    top:            13rem;
}

.toc-on-middle {
    position:       fixed;
    top:            80px;
}

.toc-on-middle .kf-topic-page-sidebar-box {

}

.toc-on-bottom .kf-topic-page-sidebar-box, .toc-on-middle .kf-topic-page-sidebar-box {
    box-shadow:     0 0 0 transparent;
}

.kf-topic-banner {
    float:              left;
    margin-right:       20px;
    margin-top:         5px;
    width:              calc( 50% - 20px );
}

.kf-topic-banner a, .kf-topic-banner a:hover {
    background:     none;
}

#kf-topic-page-header-title {
    padding-bottom:         0.2rem;
    padding-left:           0.9rem;
    color:                  white;
    font-size:              1.2rem;
    left:                   12rem;
    border-left:            2px solid #5D5D5D;
    padding-top:            0.2rem;
    position:               fixed;
    top:                    0.6rem;
    transition-duration:    0.3s;
    z-index:                2;
}

.kf-topic-page-header-title-hidden {
    opacity:    0;
}

.kf-topic-page-header-title-visible {
    opacity:    100%;
}

@media ( max-width: 650pt ) {
    #kf-topic-page-header-title {
        display:    none !important;
        opacity:    0;
    }
}
