
/*
 *  Copyright 2013-present by Pouya Kary <pouya@kary.us>
 */

/*
 * ─── BASE ───────────────────────────────────────────────────────────────────────
 */

    html {
        color:      #141414;
    }

    .kary-topic-page-article ul {
        margin:     0;
    }

    .kary-topic-page-article p {
        font-family:        "Cormorant";
        font-size:          1.2rem;
        padding-bottom:     0.5rem;
    }

    @media ( max-width: 550px ) {
            .kary-topic-page-article p {
                line-height:    1.6;
            }
    }

    .kary-topic-page-article code {
        background-color:           #FFFDF7;
        border-radius:              2pt;
        color:                      #BC670E;
        font-family:                "Source Code Pro";
        font-size:                  0.85em;
        font-variant-ligatures:     contextual !important;
        font-weight:                400;
        padding:                    0.5pt 3pt 0.5pt 3pt;
        vertical-align:             center;
    }

    .kary-topic-page-article section {
        margin-bottom:      2rem;
    }

    .kary-topic-page-article h1 {
        display:            block;
        color:              black;
        font-size:          1.4rem;
        margin:             3rem 0 0.7rem 0 !important;
        padding:            0;
        text-transform:     capitalize;
    }

    .legend-section:first-child h1:first-child {
        margin-top:     0.2rem !important;
    }

/*
 * ─── ARTICLE ────────────────────────────────────────────────────────────────────
 */

    .kary-topic-page-article p {
        line-height:    1.6rem !important;
    }

    @media ( max-width: 640pt ) {
            .kary-topic-page-article {
                font-size:      1.4rem !important;
            }

            .kary-topic-page-article p {
                font-size:      1.4rem !important;
                line-height:    1.9rem !important;
            }
    }

    .kary-topic-page-spacer {
        height:     40px;
    }

    .kary-topic-page-article h2 {
        border-top:         1px solid black;
        font-size:          0.8em;
        letter-spacing:     10px;
        margin-bottom:      14px;
        padding-bottom:     1px;
        padding-top:        4px;
        text-align:         right;
        text-transform:     uppercase;
    }

    @media screen and ( max-width: 500px ) {
            .kary-topic-page-article h2 {
                font-weight:        500;
                font-size:          1rem !important;
                line-height:        1.5;
                letter-spacing:     0.5rem !important;
            }
    }

    .kary-topic-page-article h3 {
        font-size:          1.3rem;
        font-weight:        500;
        margin-bottom:      0.5rem;
    }

    .kary-topic-page-article img {
        border-radius:      3pt;
        margin-top:         10pt;
        width:              100%;
    }

    .kary-topic-page-article li {
        font-family:        'Cormorant';
        font-size:          1.2rem;
        line-height:        1.5;
        margin-bottom:      0.7rem;
    }

    .kary-topic-page-article b, .kary-topic-page-article strong {
        font-family:    "Montserrat";
        font-size:      1.1rem;
        font-weight:    bold;

        /* text-transform:     capitalize; */
    }

    @media ( max-width: 26cm ) {
            .kary-topic-page-article {
                padding-right:      0, 4rem, 0, 4rem;
            }
    }

    @media ( max-width: 7cm ) {
            .kary-topic-page-article {
                margin:     0, 1rem, 0, 1rem;
            }
    }

/*
 * ─── HEADER ─────────────────────────────────────────────────────────────────────
 */

    .kary-topic-page-header {
        background-color:       #141414;
        background-position:    center;
        background-repeat:      no-repeat;
        background-size:        cover;
        font-size:              2.6rem;
        padding-top:            15rem;
    }

    @media ( max-width: 550px ) {
            .kary-topic-page-header {
                background-position:    left;
            }
    }

/*
 * ─── HEADER TABS ────────────────────────────────────────────────────────────────
 */

    .kary-topic-page-tabs {
        display:        flex;
        height:         calc( 2.2rem - 1px);
        position:       relative;
        top:            calc( -2.2rem + 1px);
    }

    .kary-topic-tab-middle {
        max-width:              fit-content;
        background-color:       white;
        font-size:              1.2rem;
        font-weight:            700;
        min-height:             2.2rem;
        min-width:              fit-content;
        overflow:               hidden;
        padding:                0.5em 0 0 0;
        user-select:            none;
        -moz-user-select:       none;
        -webkit-user-select:    none;
    }

    .kary-topic-tab-side {
        background-image:       url('/media/topicpage/tab-left.svg');
        background-position:    center;
        background-repeat:      no-repeat;
        background-size:        cover;
        flex:                   auto;
        height:                 2.2rem;
        max-width:              2.2rem;
        min-width:              2.2rem;
        width:                  2.2rem;
    }

    .kary-topic-tab-side.left {
        background-position:    bottom right;
        margin-right:           -1px;
    }

    .kary-topic-tab-side.right {
        background-position:    bottom left;
        margin-left:            -1px;
        transform:              scaleX(-1);
    }

/*
 * ─── TEXT SECTION ───────────────────────────────────────────────────────────────
 */

    .kary-topic-page-main-container {
        background-color:       white;
    }

    .kary-topic-page-section-back {
        background-image:       url('/media/topicpage/section-back.png');
        background-repeat:      repeat-x;
        background-size:        contain;
        margin-bottom:          1rem;
        margin-top:             2rem;
        width:                  100%;
    }

    .kary-topic-page-section-text {
        background-color:       black;
        font-size:              1.3rem;
        margin-left:            3rem;
        padding-left:           0.5rem;
        padding-right:          0.5rem;
        width:                  max-content;
    }

    .kary-topic-page-main {
        color:              black;
        font-size:          1.1rem;
        line-height:        1.3;
        margin-left:        auto;
        margin-right:       auto;
        max-width:          60vw;
        padding-bottom:     1.6rem;
        padding-right:      6rem;
    }

    @media ( max-width: 1000px ) {
            .kary-topic-page-main {
                margin-left:        3rem;
                max-width:          100vw;
                padding-right:      15rem;
            }
    }

    @media ( max-width: 26cm ) {
            .kary-topic-page-main {
                margin-left:        2rem;
                margin-right:       2rem;
                padding-right:      0;
            }
    }

/*
 * ─── LEGEND SPECIFICS ───────────────────────────────────────────────────────────
 */

    .legend-section {
        align-items:        flex-start;
        display:            flex;
        flex-direction:     row;
        justify-content:    flex-start;
    }

    .legend-paragraph {
        flex:       3;
    }

    @media ( max-width: 800 ) {
            .legend-paragraph {
                flex:       2;
            }
    }

    .legend-sidebar {
        flex-basis:         auto;
        flex-grow:          1;
        font-size:          0.8em;
        font-weight:        400;
        margin-left:        10pt;
        max-width:          180px;
        min-width:          160px;
        padding-left:       10px;
    }

    .legend-sidebar ul {
        margin-top:     0;
        padding-top:    0;
    }

    .legend-bullet {
        color:              #848484;
        display:            flex;
        font-family:        'Source Code Pro';
        font-size:          0.8em;
        font-weight:        500;
        line-height:        1.5;
        margin-bottom:      10pt;
    }

    .legend-bullet-number {
        flex:           auto;
        max-width:      fit-content;
        padding-top:    0.5pt;
    }

    .legend-bullet-content {
        border-left:    1.5pt #eee solid;
        flex:           auto;
        margin-left:    4pt;
        padding:        0.5pt 0 1.5pt 4pt;
    }

    .legend-bullet-content code {
        font-size:      0.6rem;
    }

    .legend-sup {
        vertical-align:     baseline;
        position:           relative;
        top:                -0.4em;
        color:              #AA630C;
    }

    .legend-sup a, .legend-sup a:visited {
        background:     none;
        color:          black;
    }

    .legend-sup a:focus, .legend-sup a:hover {
        background:         none;
        text-decoration:    underline;
    }

    @media ( max-width: 20cm ) {
            .legend-sidebar {
                display:    none;
                flex:       0;
            }

            .legend-sup {
                display:    none;
            }
    }

/*
 * ─── SIDEBAR ────────────────────────────────────────────────────────────────────
 */

    #kary-topic-page-sidebar {
        -moz-user-select:       none;
        -ms-user-select:        none;
        -webkit-user-select:    none;
        right:                  7vw;
        user-select:            none;
        width:                  180px;
    }

    @media ( max-width: 1100px ) {
            #kary-topic-page-sidebar {
                right:      4vw;
            }
    }

    @media ( max-width: 26cm ) {
            #kary-topic-page-sidebar {
                display:    none;
            }
    }

    #kary-topic-toc {
        max-height:             calc( 100vh - 170pt );
        overflow-x:             hidden;
        overflow-y:             scroll;
        transition-duration:    0.5s;
        padding-bottom:         20px;
        padding-top:            10px;
        margin-left:            15pt;
        margin-right:           15pt;
    }

    .toc-on-top #kary-topic-toc {
        max-height:             calc( 100vh - 260pt );
        transition-duration:    0.2s;
    }

    .kary-topic-page-sidebar-box {
        background-color:       white;
        border:                 1pt solid #eee;
        border-radius:          5pt;
        box-shadow:             0 0 6pt rgba( 0, 0, 0, 0.15 );
        padding-bottom:         0;
        transition-duration:    0.5s;
        width:                  100%;
    }

    .toc-on-top .kary-topic-page-sidebar-box {
        border-color:       #f7f7f7;
    }

    .kary-topic-page-sidebar-title {
        font-size:      2rem;
    }

    .kary-topic-page-sidebar-box {
        color:          #555555;
        font-size:      0.7rem;
    }

    #kary-sidebar-title {
        background-image:       url('/media/topicpage/worldwide.svg');
        background-position:    0 0;
        background-repeat:      no-repeat;
        background-size:        contain;
        border-bottom:          1px #aaa solid;
        font-size:              1.2rem;
        margin:                 20px 20px 0 20px;
        padding-bottom:         1px;
        padding-left:           2rem;
        max-height:             30px;
        transition-duration:    0.3s;
    }

    #kary-sidebar-title.show {
        background-position:    10px 0;
        transition-duration:    0.3s;
        margin:                 20px 0 0 -1px;
        padding:                0 20px 1px 47px;
    }

    .kary-topic-page-sidebar-box h2 {
        color:          #009BFF;
        font-size:      1rem;
        padding-top:    0.5rem;
    }

    .kary-sidebar-H1 {
        color:              #1C7AB8;
        font-size:          1rem;
        margin-bottom:      0.4em;
        padding:            0.4rem;
    }

    .kary-sidebar-H1:hover {
        background-color:       rgba(224, 238, 250, 0.521);
        color:                  #1C7AB8 !important;
    }

    .kary-sidebar-H1 a, .kary-sidebar-H1 a:visited {
        color:      inherit;
    }

    .kary-sidebar-H2 {
        border-left:        1.5px #47AC19 solid;
        clear:              left;
        color:              #424242;
        display:            block;
        font-size:          0.7rem;
        letter-spacing:     2px;
        margin-left:        1px;
        max-width:          calc( 100% - 15px );
        padding:            6px 0 6px 15px;
    }

    .toc-on-middle .kary-sidebar-H2 {
        border-left-color:      transparent;
        padding-left:           5px;
    }

    .kary-sidebar-H2 a, .kary-sidebar-H2 a:visited {
        color:      inherit;
    }

    .kary-sidebar-H1:hover, .kary-sidebar-H2:hover {
        color:      #3F8027;
        cursor:     pointer;
    }

    .kary-sidebar-H2:hover {
        background-color:       rgba(63, 128, 39, 0.1);
    }

    .toc-on-top {
        position:       absolute;
        top:            calc( 13rem - 30px );
    }

    .toc-on-middle {
        position:       fixed;
        top:            50px;
    }

    .toc-on-bottom .kary-topic-page-sidebar-box, .toc-on-middle .kary-topic-page-sidebar-box {
        box-shadow:     0 0 0 transparent;
    }

    .kary-topic-banner {
        float:              left;
        margin-right:       20px;
        margin-top:         5px;
        width:              calc( 50% - 20px );
    }

/*
 * ─── SIDEBAR SHADOWS ────────────────────────────────────────────────────────────
 */

    .kary-topic-shadow-base {
        height:                 30px !important;
        background-color:       transparent;
        left:                   1px;
        width:                  calc( 100% + 1px );
        position:               relative;
        font-weight:            bold;
        opacity:                0;
    }

    .kary-topic-shadow-base.show {
        opacity:    1;
    }

    #kary-topic-toc-upper-shadow {
        top:            77px;
        background:     linear-gradient( rgba( 0, 153, 255, 0.1 ), transparent );
    }

    #kary-topic-toc-bottom-shadow {
        top:                calc( -31px );
        background:         linear-gradient( transparent, rgba( 0, 153, 255, 0.1 ) );
        border-radius:      4pt;
    }

/*
 * ─── HEADER TITLE ───────────────────────────────────────────────────────────────
 */

    .kary-topic-banner a, .kary-topic-banner a:hover {
        background:     none;
    }

    #kary-topic-page-header-title {
        font-size:              1.2rem;
        border-left:            2px solid #5D5D5D;
        color:                  white;
        left:                   12rem;
        padding-left:           0.9rem;
        padding-top:            0.2rem;
        position:               fixed;
        top:                    0.6rem;
        transition-duration:    0.3s;
        user-select:            none;
        -moz-user-select:       none;
        -ms-user-select:        none;
        -webkit-user-select:    none;
        z-index:                2;
    }

    #kary-topic-page-header-title-link {
        padding-bottom:         0.15em;
        border-bottom:          0.1em solid transparent;
        transition-duration:    0.3s;
    }

    #kary-topic-page-header-title-link:hover {
        transition-duration:    0.2s;
        border-bottom-color:    red;
    }

    .kary-topic-page-header-title-hidden {
        opacity:    0;
    }

    .kary-topic-page-header-title-visible {
        opacity:    100%;
    }

    @media ( max-width: 650pt ) {
            #kary-topic-page-header-title {
                display:    none !important;
                opacity:    0;
            }
    }

/*
 * ─── THUMB PICTURE ──────────────────────────────────────────────────────────────
 */

    .thumb-pic-container {
        background-color:       #f7f7f7;
        padding:                10px;
        border:                 1pt rgb(212, 212, 212) solid;

        /* box-shadow:             0 0 5pt 2pt rgba(204, 204, 204, 0.7); */
        float:                  left;
        width:                  100pt;
        height:                 fit-content;
        border-radius:          2pt;
    }

    .thumb-pic-container.left {
        float:                  left;
        margin-right:           20pt;
        transform:              rotate( -3deg );
        background-position:    bottom right;
    }

    .thumb-pic-container.right {
        float:                  right;
        margin-left:            -140pt;
        margin-right:           10pt;
        transform:              rotate( 3deg );
        background-position:    bottom left;
    }

    @media ( max-width: 20cm ) {
            .thumb-pic-container.right {
                margin-left:        20pt;
                margin-right:       10pt;
            }
    }

    .thumb-pic-img {
        border-radius:      0 !important;
        margin:             0 !important;
    }

    .thumb-pic-alt {
        font-family:    'Reenie Beanie', cursive;
        font-weight:    bold;
        font-size:      1.2rem;
        text-align:     center;
    }

/* ──────────────────────────────────────────────────────────────────────────────── */
